body {
  margin: 0;
  font-family: cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
}

.container {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

.header {
  color: #2e0219;
  text-align: center;
}

.flavor {
  margin: 8px;
  border: 1px;
  border-style: solid;
  border-color: #2E0219;
  border-radius: 8px;
  padding: 12px;
  background-color: plum;
  width: 20%;
}

button {
  font-family: cursive;
  background-color: #779BE7;
  color: #2E0219;
  border-radius: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
